<html>
  <title>CMS</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/cms.css" />
<body>
  <% if session[:message] %>
    <p class="message"><%= session.delete :message %></p>
  <% end %>
  <%= yield %>
</body>
</html>
