<form action="/users/signup" method="post">
  <div>
    <label for="username">Create Username:
    <input name="username" value="<%= params[:username] %>"/>
    </label>
  </div>
  <div>
    <label for="password">Create Password:
    <input name="password" type="password"/>
    </label>
  </div>
    <button type="submit">Submit</button>
</form>
